@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --lightDark: rgba(37, 35, 41);
  --dark: rgba(18, 15, 20);
  --textGrey: rgba(102, 102, 102);
  --blue: rgba(48, 129, 237);
  --white: rgba(224, 224, 224);
  --search-grey: rgb(60, 57, 63);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--white);
  font-family: "Noto Sans", sans-serif;
}

body {
  background-color: var(--lightDark);
  height: 100vh;
  width: 100vw;
}
#arrow {
  width: 30px;
  height: 30px;
  text-align: center;
  margin-bottom: 0.5rem;
}

.sidebar-header {
  padding: 1.3rem;
  height: 4rem;
  display: flex;
  justify-content: flex-start;
  column-gap: 5px;
  align-items: center;
  background-color: black;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.header h6 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.1rem;
  align-items: center;
}

.chatbox-header {
  height: 4rem;
  padding: 1.3rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.chat {
  display: flex;
}

h1 {
  font-size: 2.2rem;
  font-weight: 700;
  text-align: center;
}

.chat-area {
  position: relative;
  width: 80vw;
  height: 100vh;
}

.chat-input-box {
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 3rem 5rem;
}

#chat-input {
  width: 92%;
  height: 3rem;
  background-color: var(--search-grey);
  outline: none;
  border: none;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  padding: 1rem;
}

#chat-sendicon {
  width: 6%;
  padding: 0.9rem 0.2rem;
  background-color: var(--search-grey);
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

#send-icon {
  transform: rotate(90deg);
  font-size: 1rem;
  border: 2px solid var(--search-grey);
  background-color: var(--blue);
  border-radius: 6px;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.6rem;
  margin-bottom: 4px;
}

#chat-sendicon svg {
  height: 100%;
  width: 40px;
  font-size: 1rem;
}

.chat-utilis {
  position: relative;
  width: 20vw;
  height: 100vh;
  background-color: var(--dark);
}
.home {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark);
}

a {
  color: var(--white);
  font-size: 0.9rem;
  text-decoration: none;
}

.form-container {
  background-color: var(--lightDark);
  padding: 1rem;
  border-radius: 20px;
  width: 40vw;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.form-container img {
  height: auto;
  width: 100px;
  margin-bottom: 10px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid grey;
}

.form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  width: 30vw;
  height: 56vh;
  justify-content: space-around;
}

.sign-up-container a {
  margin: 5px 0;
  position: relative;
}

.profile-pic-container {
  position: relative;
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.add-pic-icon {
  color: var(--textGrey);
  position: absolute;
  bottom: 0px;
  right: 10px;
  cursor: pointer;
  z-index: 10;
}

#floatingInput {
  background-color: white;
  align-items: center;
  color: black;
  border: none;
  width: 100%;
  outline: none;
}

.form-floating {
  width: 60%;
  height: 10%;
}

button {
  border-radius: 20px;
  border: 1px solid var(--textGrey);
  background-color: var(--textGrey);
  color: #ffffff;
  font-size: 12px;
  font-weight: 900;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

button:hover {
  background-color: var(--dark);
  box-shadow: rgba(222, 222, 222, 0.12) 0px 2px 4px 0px,
    rgba(222, 222, 222, 0.12) 0px 2px 16px 0px;
}

strong {
  font-weight: 700;
  color: var(--dark);
}

.search-container {
  padding: 2rem;
}

#search-bar {
  background-color: var(--search-grey);
  border: none;
  height: 2.5rem;
  width: 85%;
  outline: none;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

#search-icon {
  width: 15%;
  font-size: 1rem;
  height: 2.5rem;
  margin-bottom: 3px;
  border: none;
  padding: 5px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  background-color: var(--search-grey);
}

.Channel {
  display: flex;
  width: 100%;
  cursor: pointer;
}

.Channel:hover, .Channel-selected {
  background-color:var(--lightDark);
  border-radius: 10px;
}

.channel-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: var(--lightDark);
  color: var(--white);
  border-radius: 6px;
}

.channels-container {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.channels-container h5 {
  font-size: 1rem;
  height: 10px;
}

.all-channels {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  width: 100%;
  padding: 2rem;
}

.user-infobar {
  position: absolute;
  padding: 1rem 2rem;
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.5rem;
  bottom: 0;
  background-color: black;
  box-shadow: rgba(0, 0, 0, 0.3) 0px -7px 13px -3px,
    rgba(0, 0, 0, 0.2) 0px 3px 0px inset;
  align-items: center;
}
.all-members {
  height: 60vh;
  display: flex;
  flex-direction: column;
  row-gap: 1.2rem;
  overflow-y: scroll;
  scrollbar-width: 0;
  padding: 1rem 2rem;
  font-weight: 300;
}

.channel-info {
  display: flex;
  flex-direction: column;
  text-transform: capitalize;
  font-size: 1.5rem;
  align-items: center;
  padding: 3rem 2rem;
  height: 25vh;
}

.channel-name {
  font-size: 1.4rem;
  font-weight: 700;
  align-self: flex-start;
}

.channel-desc {
  font-size: 1.1rem;
  align-self: flex-start;
  font-weight: 300;
}

.member-infobar {
  position: relative;
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.5rem;
  align-items: center;
}

#member-name {
  text-transform: capitalize;
  font-weight: 300;
}

.member-info {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

#info-arrow {
  transform: rotate(90deg);
  flex-grow: 2;
  cursor: pointer;
}

#info-name {
  font-size: 1.5rem;
  margin-bottom: 0;
  margin-top: 0.5rem;
  font-weight: 500;
  text-transform: capitalize;
}

.status {
  position: absolute;
  height: 10px;
  left: 2rem;
  bottom: 0.3rem;
  width: 10px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.username-info {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  position: relative;
}

.drop-list {
  position: relative;
}

.drop-list-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  position: absolute;
  justify-content: space-around;
  background-color: var(--lightDark);
  width: 10rem;
  height: 9rem;
  top: -700%;
  right: -150%;
  z-index: 1;
  padding: 1rem 0.5rem;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px -7px 13px -3px,
    rgba(0, 0, 0, 0.2) 0px 3px 0px inset;
}

.line {
  color: rgb(60, 57, 63);
  border: 1;
  width: 80%;
  margin: 0;
  margin-bottom: 5px;
  opacity: 100;
  z-index: 20;
}
.drop-list-items h6 {
  color: var(--white);
  font-size: 1rem;
}

.drop-list-items svg {
  margin-right: 0.5rem;
}

.drop-list-items svg > path {
  color: var(--white);
}

.logout,
.logout path {
  color: rgb(235, 87, 88) !important;
}
.logout,
.profile {
  padding: 0.5rem 1.2rem;
}
.logout:hover,
.profile:hover {
  background-color: var(--search-grey);
  border-radius: 6px;
}

.chat-box {
  height: 80vh;
  overflow-y: scroll;
}

.all-members::-webkit-scrollbar,
.chat-box::-webkit-scrollbar {
  display: none;
}
.chat-box-element {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  margin-bottom: 2rem;
}

.chat-box-element p {
  margin: 0;
}

.message-sender {
  font-weight: 700;
  text-transform: capitalize;
}

.message-timestamp {
  color: gray;
  font-weight: 200;
  font-size: 0.7rem;
  padding-top: 0.2rem;
}

.meessage {
  width: 100%;
  height: 5vh;
}

.message-inner {
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: flex-start;
  column-gap: 1rem;
}

.chat-box-user {
  display: flex;
}

.chat-box-upper {
  display: flex;
  column-gap: 1rem;
}

.chat-box-text {
  display: flex;
  flex-direction: column;
}

.userinfo-status{
  position: absolute;
  height: 10px;
  left: 2rem;
  bottom: 0rem;
  width: 10px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;

}

.avatar-user {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid var(--lightDark);
}

.chat-box-date-container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  padding: 1rem 2rem;
}

.chat-box-date-container > p {
  color: var(--textGrey);
  font-weight: 700;
  font-size: 1.5 rem;
  padding: 0 1rem;
}
